body {
    padding-top: 0px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255); 
    background-color: #000000;
}

.navbar {
    margin-bottom: 0;
    color: black;
    border-radius: 0;
}


.navbar-inverse {
    background-color: #000000; 
    border-color: #b7b5b5;     
}


.navbar-inverse .navbar-nav>li>a {
    color: #ffffff; 
}


.navbar-inverse .navbar-brand {
    color: #ffffff;
}
@media (min-width: 768px) {
    .navbar .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-header {
        float: none;
    }
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-form {
        float: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
}


@media (min-width: 768px) {
    .navbar .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-header {
        float: none;
    }
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-form {
        float: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
}

.icon-img {
    width: 60px;
    height: 60px;
    object-fit:contain; /* чтобы не искажались */
    margin: 5px;
}