body {
    padding-top: 0px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255); 
    background-color: #000000;
}

.border-Card {
    border: 2px solid #444 !important;
    background-color: #1a1a1a !important;
}

h5 {
    color: #ffffff;
}
