body {
    padding-top: 0px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255); 
    background-color: #000000;
}

#nbasign
{
    max-width: 100%;
    width: 300px;
}

.brd-r{
    border-radius: 12px;
}

.rotating-ball {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


