.card-border {
    border: 2px solid #000000 !important;
    background-color: #1a1a1a !important;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255); 
    background-color: #000000;
}

th, td {
  border-bottom: 1px solid #444;
}

.table {
    background-color: #212529;
    color: #fff;
    border-color: #373b3e;
    --bs-table-bg: #212529;          
    --bs-table-striped-bg: #2c3034;  
    --bs-table-hover-bg: #323539;
}

.table th {
    color: #fff;
    background-color: #1a1a1a;
}

.table td {
    color: #fff;
    vertical-align: middle;
}

